<% if(!userData){ %>
    <script>
        alert("비회원은 접근할 수 없습니다.")
        location.href = "/login";
    </script>
<% } %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 작성</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- 폰트 관련 링크 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&family=Noto+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <!-- 헤더영역 -->
    <%- include("common/header.ejs") %>
    <!-- 배너영역 -->
    <%- include("common/banner.ejs") %>
    <div id="brdinsert_container">
        <div class="center">
            <h2>공지사항 작성</h2>
            <form id="brdinsert_form" action="/update" method="post">
                <input type="hidden" name="id" value="<%- brdinfo.brdid %>">
                <label for="brdtitle">제목</label>
                <input type="text" name="brdtitle" id="brdtitle" value="<%- brdinfo.brdtitle %>">
                <label for="brdcontext">내용</label>
                <textarea name="brdcontext" id="brdcontext"><%- brdinfo.brdcontext %></textarea>
                <div class="btns">
                    <button class="insertBtn" type="submit">작성하기</button>
                    <!-- 스크립트에서 클릭시 location.href = "/brdlist" 해주기 -->
                    <button class="cancelBtn" type="button">작성취소</button>
                </div>
            </form>
        </div>
    </div>
    <%- include("common/footer.ejs") %>
    <script src="/js/cancel_brd_btn.js"></script>
</body>
</html>