<% if(!userData){ %>
    <script>
        alert("비회원은 접근할수 없는 페이지 입니다.")
        location.href = "/login";
    </script>
<% } %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객센터</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!-- 헤더영역 -->
    <%- include("common/header.ejs") %>
    <!-- 배너영역 -->
    <%- include("common/banner.ejs") %>

    <div id="brd_list_container">
        <div class="center">
            <div class="top_menu">
                <div class="custom_center">
                    <h3>고객센터</h3>
                    <ul>
                       <li>
                            <a href="/brdlist">공지사항</a>
                            <span class="notice"></span> 
                        </li>
                       <li class="qnaBtn">
                            <a href="/brdinsert">문의하기</a>
                            <span class="qna"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <table class="brd_top">
                <tr class="brd_top">
                    <th class="number">번호</th>
                    <th class="title">제목</th>
                    <th class="date">등록일자</th>
                    <th class="auther">작성자</th>
                </tr>
                <!-- 반복문으로 데이터 받아와서 여기에 넣어주기 -->
                <% brdinfo.forEach(function(el, index){ %>
                    <tr class="brd_bot">
                        <th class="number"><%- el.brdid %></th>
                        <th class="title"><a href="/brddetail/<%- el.brdid %>"><%- el.brdtitle %></a></th>
                        <th class="date"><%- el.brddate %></th>
                        <th class="auther"><%- el.brdauther %></th>
                    </tr>
                <% }); %>
            </table>
            <form action="/search" method="get" class="search_menu">
                <select name="search_menu" id="search_menu">
                    <option value="brdtitle">제목</option>
                    <option value="brdcontext">내용</option>
                </select>
                <input type="text" name="searchInput" id="searchInput">
                <button type="submit">검색</button>
            </form>
        </div>
    </div>

    <!-- 풋터영역 -->
    <%- include("common/footer.ejs") %>
    
    <script src="/js/brd_btn.js"></script>
</body>
</html>