<% if(!userData){ %>
    <script>
        alert("비회원은 접근할 수 없습니다.")
        location.href = "/login";
    </script>
<% } %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>고객센터</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- 헤더영역 -->
    <%- include("common/header.ejs") %>
    <!-- 배너영역 -->
    <%- include("common/banner.ejs") %>

    <div id="brd_list_container">
        <div class="center">
            <div class="top_menu">
                <div class="custom_center">
                    <h3>고객센터</h3>
                    <ul>
                       <li>
                            <a href="/brdlist">공지사항</a>
                            <span class="notice"></span> 
                        </li>
                       <li class="qnaBtn">
                            <a href="/brdinsert">문의하기</a>
                            <span class="qna"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="mid">
                <h2>공지사항</h2>
            </div>
            <table class="brd_detail">
                <!-- db에서 데이터 받아와서 여기에 넣어주기 -->
                <tr class="brd_line top_line">
                    <th class="title left_th">제목</th>
                    <th class="title right_th"><%- brdinfo.brdtitle %></th>
                </tr>
                <tr class="brd_line">
                    <th class="date left_th">작성일자</th>
                    <th class="date right_th"><%- brdinfo.brddate %></th>
                </tr>
                <tr class="brd_context">
                    <th class="context"><%- brdinfo.brdcontext %></th>
                </tr>
            </table>
            <div class="detail_btns">
                <a class="listBtn" href="/brdlist">목록보기</a>
                <% if(userData.joinnick === brdinfo.brdauther) { %>
                    <a href="/brdedit/<%- brdinfo.brdid %>">수정</a>
                    <a class="deleteBtn" href="/delete/<%- brdinfo.brdid %>">삭제</a>
                <% } %>
            </div>
        </div>
    </div>

    <!-- 풋터영역 -->
    <%- include("common/footer.ejs") %>
    
    <script src="js/brd_btn.js"></script>
</body>
</html>